#B1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    
}

#B1 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
}

#TopText {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#TopText {
    font-size: 100px;
    font-weight: bolder;
}

#B2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    
}

#B2 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
