#B1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    
}

#B1 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
    
}

#TopText {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#TopText {
    font-size: 100px;
    font-weight: bolder;
}

#B2{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    
}

#B2 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
}

#B3 {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#B3 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
    
}
#B4 {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#B4 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
    
}
#B5{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    
}

#B5 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
    
}
#B6{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    
}

#B6 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
    
}
#B7{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);

    
    
}

#B7 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
    
}

button:hover {
    border-radius: 50px;
    border-color: #4fd32d;
    background-color: #929c93;
}
