#B1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%)

    
    
}

#B1 {
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bolder;
}
#topText {
    font-size: 50px;
    font-weight: bolder;
    
}
